---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Rob Schlenker Dev";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Developer</h2>
  <Greeting client:load messages={["Wordpress", "Vue", "React", "NextJS", "Astro", "Git", "GSAP"]} />
</BaseLayout>