---
import BaseLayout from "../layouts/BaseLayout.astro";
import SearchField from "../components/SearchField.astro";
const title = "Search | Alex Trost"; 
const description = "Search the website of Alex Trost";
---

<BaseLayout title={title} description={description}>
    <h1>Search</h1>
    <SearchField />
  </BaseLayout>